@charset "UTF-8";
/* Theme Overrides */

body {
  font-family: "Saira", "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Arial, "Lucida Grande", sans-serif;
}

.p-component {
  font-family: Saira, Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.p-link {
  font-family: Saira, Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container .p-autocomplete-input-token input {
  font-family: Saira, Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.p-chips .p-chips-multiple-container .p-chips-input-token input {
  font-family: Saira, Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.p-inputtext {
  font-family: Saira, Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.p-terminal .p-terminal-input {
  font-family: Saira, Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; 
}

.layout-topbar, .layout-footer {
	background: rgb(158 194 34) ;
}

.p-button, .ol-control button {
	background-color: rgb(158 194 34);
}

.ol-control button:hover {
  background-color: rgba(84, 165, 105, 0.76) !important;
}

.ol-control button:focus {
  background-color: rgba(158, 194, 34, 0.76) !important;
}

.p-button:enabled:focus {
  background: rgba(158, 194, 34, 0.76);
}

.p-button:enabled:hover {
  background: rgb(84, 165, 105);
}

.p-button.p-button-text:hover {
  background-color: rgb(84, 165, 105) !important;
}

.p-button.p-button-text:enabled:hover {
  color: #ffffff;
}

.p-button.active {
  background-color: rgb(84, 165, 105) !important;
}

.p-button.p-button-outlined {
  color: rgb(158 194 34);
}

.p-button.p-button-outlined:enabled:hover {
  color: rgb(158 194 34);
}


.p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: rgb(84, 165, 105);
}


.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: rgb(84, 165, 105);
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: rgb(84, 165, 105);
}

.p-selectbutton .p-button.p-highlight {
  /*background: #000000;
  border-color: #000000;*/
  background: #555555;
  border-color: #555555;  
  color: rgba(255, 255, 255, 0.87);
}

.p-selectbutton .p-button.p-highlight:hover,
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
  background: #d9d8d9 !important;
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):focus {
  background: #ffffff !important;
}

.p-selectbutton .p-button.p-highlight:hover {
  color: rgb(255 255 255 / 87%);
}

.p-selectbutton .p-button.p-highlight:focus {
  /*
  background: #000000 !important;
  border-color: #000000 !important;
  */
  background: #555555 !important;
  border-color: #555555 !important;
}

/* ------------------- */

.coordinates-item .coordinates-item-tools {
  background: rgb(158 194 34) !important;
}

.crsselect .p-dropdown .p-dropdown-label {
  padding-top: 0.25em;
}

/* ------------------ */

.feature-info .p-datatable .p-datatable-thead > tr > th {
  background-color: rgb(158 194 34) !important; 
}

/* ----------------- */

#content .print .print-panel2 button.tool.active, #content .print .print-panel-item button.tool.active {
  background-color: #54a569 !important;
}
