.layout-footer {
    position: fixed;
    height: 50px;
    padding: .7em 1.5em 0em 1.5em;
    color: #ffffff;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    @include clearfix();
    @include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);
    @include transition(margin-left $transitionDuration);
    background-color: $footerBgColor;
    padding: 1em 2em;

    img {
        vertical-align: middle;
    }

    .footer-text {
        vertical-align: middle;
    }
}