.layout-topbar .layout-topbar-icons .layout-topbar-search-container {
  text-align: right;
}

.layout-topbar .layout-topbar-icons .layout-topbar-search {
  top: -2px;
  margin-left: 20px;
}

.layout-topbar .layout-topbar-icons .layout-topbar-search input {
  font-size: 1.1rem !important;
  width: 155px !important;
  padding: 1px 34px 1px 1px !important;

  @media screen and (max-width: 768px) {
    width: 120px !important;
  }  
}

.layout-topbar .layout-topbar-icons .layout-topbar-search .layout-topbar-search-icon {
  top: 2px;
}

.layout-topbar .layout-topbar-icons .layout-topbar-search .layout-topbar-search-icon.mouse-pointer {
  cursor: pointer;
}

.layout-topbar .layout-topbar-icons .layout-topbar-search-results {
  position: absolute;
  margin-top: 5px; 
  margin-right: 5px;  
  z-index: 10;

  @media screen and (min-width: 450px) {
    margin-left: 20px;
  }  
}

.layout-topbar .layout-topbar-icons .layout-topbar-search-results .place-list-item {
  text-align: left;
}

.layout-topbar .layout-topbar-icons .layout-topbar-search-results .place-list-item > i {
  float: left;
}
.layout-topbar .layout-topbar-icons .layout-topbar-search-results .place-list-item > span {
  display: block;
  margin-left: 23px;
}