.scalargis-timeline.p-inputgroup {
    display: inline-block;
}

.scalargis-timeline.p-inputgroup button:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}